.wrapper {
    display: grid;
  grid-template-areas:
    'header header'
    'sidedar content'
    'footer footer';

  grid-template-columns: 1fr 5fr;
  grid-template-rows: minmax(1fr, auto) minmax(1fr, auto)  minmax(1fr, auto);
 

    & .header {
        grid-area: header;
        background: green;
        color: #f00;
    }
    
    & .sidedar {
        grid-area: sidedar;
        background: rgb(49, 70, 49);
        color: rgb(34, 37, 36);
    }

    & .content {
        
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        background: rgb(253, 253, 252);
        color: rgb(34, 37, 36);

        & .item {
            margin: 10px 10px;
            padding: 5px;
            background-color: darkgrey;
            // box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
        
        }
    }

    & .footer {
        grid-area: footer;
        background: rgb(86, 189, 214);
        color: rgb(6, 19, 14);



    }


}